*
!.gitignore
!README.md
!Anatation4.json
!load_dataset.py
!load_parametrs.py
!vgg_to_mask.py
!constants.py
!Test_git.ipynb
!coco_eval.py
!coco_utils.py
!engine.py
!transforms.py
!utils.py
!model_7_27_.pt
!test_git_2.py
!only_test.py
!train.py